    <div class="container">

      <%= bootstrap_flash %>
      
      <div class="row">
        
        <div class="col-md-9 main_content">
          <h2>New account lookup</h2>
          <%= form_tag("/account_lookups", method: "post") do %>
            <%= label_tag(:screen_name, "Screen Name") %>
            <%= text_field_tag("account_lookup[screen_name]") %>
            <%= submit_tag("Lookup") %>
          <% end %>
          <hr>
          <p><%= @account_lookup.inspect %></p>
          <hr>
          <p>Screen Name: <%= @account_lookup.screen_name %></p>
          <p>Name: <%= @account_lookup.name %></p>
          <p>User GUID <%= @account_lookup.user_guid %></p>
          <p>Profile Background Image URL: <%= @account_lookup.profile_background_image_url %></p>
          <p>Followers Count: <%= @account_lookup.followers_count %></p>
          <%= form_tag("/users", method: "post") do %>
            <%= hidden_field_tag("user[screen_name]", @account_lookup.screen_name) %>
            <%= hidden_field_tag("user[name]", @account_lookup.name) %>
            <%= hidden_field_tag("user[user_guid]", @account_lookup.user_guid) %>
            <%= hidden_field_tag("user[profile_background_image_url]", @account_lookup.profile_background_image_url ) %>
            <%= hidden_field_tag("user[followers_count]", @account_lookup.followers_count) %>
            <%= submit_tag("Save") %>
          <% end %>  
          <hr>
        </div>
        <div class="col-md-3 sidebar">
          <%= render "shared/sidebar_nav" %>
        </div>
        
      </div>
      
      <hr>
      <%= render "shared/footer" %>
    </div> <!-- /container -->
